/*loading page
------------------------------------*/

@-moz-document url(about:blank) {
    html,body { background: whitesmoke; }
}

/*General
------------------------------------*/
html {
    background-color: whitesmoke;
    font-family: 'times new roman';
    
}

body {
    overflow: hidden;
}

/* Navigation
------------------------------------*/
nav {
  overflow: hidden;
  margin-left: 50px;
  margin-right: 50px;
  border-bottom: solid 3px black;
  height: 60px;
  position: fixed;
  top: 0;
  width: calc(100vw - 100px);
  background-color: whitesmoke;
}

nav a {
  float: left;
  color: black;
  text-align: center;
  box-sizing: border-box;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 20%;
  text-decoration: none;
  font-family: 'times new roman';
  font-size: 2em;
  background-color: whitesmoke;
}

nav>a:hover {
  color: grey;
}

nav a.active {
  color: grey;
}


/*Films
------------------------------------*/
.preview {
    display: none;
}

 
/*Film Posters
------------------------------------*/
body * {
    box-sizing: border-box;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 100vh;
    margin-top: 119px;
    margin-bottom: 40px;
    margin-left: 100px;
    margin-right: 100px;
    padding-left: 20px;
    padding-bottom: 20px;
    
}

.front:hover {
    cursor: pointer;
}


/*Flip Posters
------------------------------------*/


/* flip the pane when hovered */

.card.hover .flipper {
    transform: rotateY(180deg);
}

.card {
    width: 300px;
/*    width: calc(33.33% - 20px);*/
    height: calc(70% - 20px);
    min-height: 120px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
}

/* flip speed */

.flipper {
    transition: 1.2s;
    transform-style: preserve-3d;
    position: relative;
}


/* hide back of pane during swap */

.front, .back {
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    position: absolute;
    width: 100%;
 
}

.front:hover {
    opacity: 70%;
}

/* front pane, placed above back */

.front {
    z-index: 2;
    transform: rotateY(0deg);
}


/* back, initially hidden pane */

.back {
    transform: rotateY(180deg);
    background-color: white;
    color: grey;
}

.front, .back {
/*
    height: calc(70vh - 20px - 15px);
    width: calc(33.33vw - 100px);
*/
    width:100%;
    height: calc(70vh - 20px - 15px);
    box-shadow: 3px 3px 8px 3px lightgrey;
}

.flipper {
    display: flex;
    flex-direction: column;
}

.front {
    background: center center no-repeat;
    background-size: cover;
}

.cards {
    display: flex;
}

/*Film Info
------------------------------------*/
.back {
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
    
}

h1, h2 {
    font-weight: 100;
}

h1 {
    font-size: 1.8em;
    margin-bottom: 0px;
}

h2 {
    font-size: 1.3em;
    margin-top: 0px;
}

p {
    font-size: 1.3em;
}

.btn {
    font-family: 'times new roman';
    border: none;
    color: white;
    background-color: grey;
    padding: 10px;
    font-size: 1.3em;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    text-align: center;
    margin-top: 20px;
    box-shadow: 4px 4px 8px 3px lightgrey;
    text-decoration: none;
    
}

.watch {
    margin-left: calc(16.67vw - 130px);
    margin-right: calc(16.67vw - 130px);
    
}

.back-button {
    margin-left: calc(16.67vw - 115px);
    margin-right: calc(16.67vw - 115px);
}

.btn:hover {
    background-color: black;
    box-shadow: 4px 4px 3px 3px lightgrey;
    cursor: pointer;
}

/*Alerts
------------------------------------*/
.front {
/*    background-image: none !important;*/
/*    opacity: 20%;*/
}

.message-a, .message-b {
    margin-top: 50px;
    margin-left: 200px;
    margin-right: 200px;
    padding: 11px;
    text-align: center;
    font-size: 1.5em;
    box-shadow: 3px 3px 8px 3px lightgrey;
    color: grey;
    background-color: white;
    height: 134px;
}

.message-b {
    
    height: 100vh;
    position: absolute;
    z-index: 10;
    width: 100vw;
    top: 60px;
    left: 0px;
    background: rgba(255,255,255,0.8);
    margin: 0px;
}

.ok {
    font-family: 'times new roman';
    margin-top: 0px;
    color: grey;
    background-color: white;
    border: solid 1px grey;
    padding-left: 10px;
    padding-right: 10px;    
}

.ok:hover {
    color: white;
    background-color: black;
    border: solid 1px black;
    cursor: pointer;
}

button:focus {
outline: none;
}

.message-a {
/*    display: none;*/
}

.fa-lock {
    padding-right: 4px;
    
}

/*Media Queries
------------------------------------*/
.listen {
    display: none;
    margin-left: calc(16.67vw - 95px);
    margin-right: calc(16.67vw - 95px);
}

@media (max-width: 900px) {
    main .card { 
        width: calc(50% - 20px);
/*        height: calc(50vh - 20px);*/
    }
    
.front, .back {
/*    height: calc(70vh - 20px - 15px);*/
    width: calc(50vw - 100px);
    box-shadow: 3px 3px 8px 3px lightgrey;
}
}

@media (max-width: 550px) {
    main .card { 
        width: calc(100% - 20px);
/*        height: 70vh;*/
    }
}
