/*loading page
------------------------------------*/

@-moz-document url(about:blank) {
    html,body { background: black; }
}

/*General
------------------------------------*/
html {
    background-color: whitesmoke;
    
}
/* Navigation
------------------------------------*/
nav {
  overflow: hidden;
  margin-left: 50px;
  margin-right: 50px;
  border-bottom: solid 3px black;
  height: 75px;
  position: fixed;
  top: 0;
  width: calc(100vw - 100px);
    background-color: whitesmoke;
}

nav a {
  float: left;
  color: black;
  text-align: center;
  box-sizing: border-box;
  padding-top: 13px;
  padding-bottom: 13px;
  width: 20%;
  text-decoration: none;
  font-family: 'times new roman';
  font-size: 2em;
}

nav>a:hover {
  color: darkgrey;
  font-weight: 525;
}

nav a.active {
  color: darkgrey;
}

.rainbow-text:hover {
    background-image: linear-gradient(to left, yellow, orange, red, orange, yellow, violet, orange, red, orange,yellow);   -webkit-background-clip: text;
  color: transparent;
    
}

/*Films
------------------------------------*/
.preview {
    display: none;
}


/*Film Posters
------------------------------------*/
body * {
    box-sizing: border-box;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    margin-top: 100px;
    margin-bottom: 40px;
    margin-left: 100px;
    margin-right: 100px;
    padding-left: 20px;
    padding-bottom: 20px;
    
}

.card {
    width: calc(33.33% - 20px);
    height: calc(70% - 20px);
    min-height: 120px;
    background-size: cover;
    background-position: center;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
    background-color: whitesmoke;
}

.card:hover {
    opacity: 50%;
    border: 3px solid aqua;
    cursor: pointer;
}



