/*loading page
------------------------------------*/
@-moz-document url(about:blank) {
    html,body { background: black; }
}

/*body,html
------------------------------------*/

body, html {
    height: 100%;
    margin: 0; 
    background: black;
}

/*parallax
------------------------------------*/
.parallax {
  /* The image used */
  background-image: url('../images/center.png')
      /*url('../images/profile.jpeg')*/;

  /* Set a specific height */
  height: 100vh; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*name
------------------------------------*/
.name {
    color: whitesmoke;
    font-family: 'Lao MN';
    font-size: 4em;
    position: absolute; 
    bottom: 0; 
    right: 25px; 
    
}

.namediv {
    opacity: 1;
}

/*bio
------------------------------------*/
#bio {

    background-color: black;
    font-family: 'Lao MN';
    font-size: 1em;
/*    color: rgba(204,135,181);*/
    padding-right: 100px;
    padding-left: 100px;
    max-height: calc(100vh - 50px - 80px);
    border-top: solid black 10px;
    padding-top: 10px;
    padding-bottom: 30px;
    color: whitesmoke;
}

em{
    font-style: normal;
    color: whitesmoke;
}

/* Navigation
------------------------------------*/
nav {
  overflow: hidden;
  margin-left: 50px;
  margin-right: 50px;
  border-bottom: solid 3px whitesmoke;
  height: 75px;
  position: fixed;
  top: 0;
  width: calc(100vw - 100px);
}

nav a {
  float: left;
  color: whitesmoke;
  text-align: center;
  box-sizing: border-box;
  padding-top: 13px;
  padding-bottom: 13px;
  width: 20%;
  text-decoration: none;
  font-family: 'Lao MN', sans-serif;
  font-size: 2.3em;
}

nav>a:hover {
  color: black;
  font-weight: 525;
}

nav>div>a:hover {
  color: black;
  font-weight: 525;
}

nav a.active {
  color: black;
}

.rainbow-text:hover {
    background-image: linear-gradient(to left, yellow, orange, red, orange, yellow, violet, orange, red, orange,yellow);   -webkit-background-clip: text;
  color: transparent;
    
}

