/*loading page
------------------------------------*/
@-moz-document url(about:blank) {
    html,body { background-color: whitesmoke; }
}

/*body,html
------------------------------------*/

body, html {
    height: 100%;
    margin: 0; 
    background-color: whitesmoke;
}

.hide { 
    display: none; 
}

/*parallax
------------------------------------*/
.parallax {
  background-image: url('../images/profile.jpeg');
  height: 100vh; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.second {
    height: calc(100vh - 175px);
}


/*name
------------------------------------*/
.name {
    color: whitesmoke;
    font-family: 'times new roman';
    font-size: 4em;
    position: absolute; 
    bottom: 0; 
    right: 25px; 
    
}

.namediv {
    opacity: 1;
}

/*bio
------------------------------------*/
#bio {

    background-color: whitesmoke;
    font-family: 'times new roman';
    font-size: 1.2em;
    padding-right: 100px;
    padding-left: 100px;
    max-height: calc(100vh - 50px - 80px);
    border-top: solid whitesmoke 10px;
    padding-top: 10px;
    padding-bottom: 30px;
    color: grey;
}

/* Navigation
------------------------------------*/
nav {
  overflow: hidden;
  margin-left: 50px;
  margin-right: 50px;
  border-bottom: solid 3px whitesmoke;
  height: 60px;
  position: fixed;
  top: 0;
  width: calc(100vw - 100px);
}
 
nav a {
  float: left;
  color: whitesmoke;
  text-align: center;
  box-sizing: border-box;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 20%;
  text-decoration: none;
  font-family: 'times new roman';
  font-size: 2em;
}

nav>a:hover {
  color: black;
  text-decoration: none;
}

nav a.active {
  color: black;
}

/* Hamburger
------------------------------------*/

.ham {
    display: none;
}

.smaller {
    display: none;
}

/* Media Queries! ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

/* Special ----------- */
@media only screen and (max-width : 1120px) {

    .second {
        height: calc(100vh - 195px);
    }
    .bar {
        display: none;
    }
}

/* Big ----------- */
@media only screen and (max-width : 1000px) {

    nav a {
        font-size: 1.8em;
    }
    nav {
        height: 50px;
    }
    
    .name {
        font-size: 3.5em;
    }
    
    #bio {
        
    }
    
/*
    .parallax {
        background-image: url('../images/profile2000w.jpeg');
    }
*/
    
    .second {
        height: calc(100vh - 300px);
    }
    .bar {
        display: none;
    }
}

/* Medium ----------- */
@media only screen and (max-width : 800px) {

    nav a {
        font-size: 1.6em;
    }
    nav {
        height: 50px;
        margin-left: 20px;
        margin-right: 20px;
        width: calc(100vw - 40px);
        border-bottom: solid whitesmoke 2.5px;
    }
    
    .name {
        font-size: 3.3em;
    }
    
    #bio {
        padding-right: 60px;
        padding-left: 60px;
    }
    
    .bar {
        display: none;
    }
    
}
 
/* Small ----------- */
@media only screen and (max-width : 600px) {

    nav a {
        font-size: 1.2em;
    }
    nav {
        height: 45px;
        margin-left: 20px;
        margin-right: 20px;
        width: calc(100vw - 40px);
        border-bottom: solid whitesmoke 2px;
    }
    
    
    .name {
        font-size: 3.5em;
    }
    
    #bio {
        padding-right: 50px;
        padding-left: 50px;
    }
    
    .parallax {
        background-image: url('../images/profile1000w.jpeg');
        
    }
    
    .second {
        height: calc(100vh - 45px - 300px);
    }
    
    .bar {
        display: none;
    }


}


/*
@media only screen and (max-width : 465px) {
    nav {
        display: none;
    }
}
*/
/* Smaller ------
----- */
@media only screen and (max-width : 465px) {

    nav a {
        font-size: 1.3em;
        width: 100%;
        color: black;
        padding-top: 5px;
        padding-bottom: 5px;
        
    }
    
    nav {
        margin-left: 0px;
        margin-right: 0px;
        width: calc(100vw);
        border-bottom: solid whitesmoke 2px;
        display: flex;
        flex-direction: column;
        height: auto;
        background-color: whitesmoke;
/*        opacity: 70%;*/
        padding-bottom: 5px;
        display: none;
        
    }
    
    nav>a:hover {
        color: grey;
        
    }
    
    nav a.active {
        color: grey;
    }
    
    .ham {
        display: block;
        padding-left: 30px;
        padding-top: 10px;
        font-size: 1.8em;
    }
    
    .ham:hover {
        cursor: pointer;
        
    }
    
    .bar {
/*        display: none;*/
        padding-top: 15px;
        padding-bottom: 15px;
        background-color: whitesmoke;
        color: grey;
    }
    
    .fa-bars {
        padding-right: 25px;
    }
    .bar:hover {
        color: black;
    }
    
    .x:hover {
        color: black;
    }

    .smaller {
        display: block;
    }
        
    img {
        width: auto ;
        max-width: 100% ;
        height: auto ;
    }
    .namediv {
        display: none;
    }
    
    .name {
        font-size: 3.5em;
        color: grey;
    }
    
    #bio {
        padding-right: 30px;
        padding-left: 30px;
        max-height: none;

    }
    
    .parallax {
        background-image: none;
        height: 100vh;
        background-attachment: scroll;
        background-color: whitesmoke;
        height: auto;
    }
    
    .second {
        display: none;
    }


}


/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {

}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {

}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {

}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {

}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {

}
/**********
iPad 3
**********/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {

}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {

}
/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {

}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {

}

/* iPhone 4 ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
    nav a {
        font-size: 1.1em;
    }
    nav {
        height: 40px;
        margin-left: 5px;
        margin-right: 5px;
        width: calc(100vw - 10px);
        border-bottom: solid whitesmoke 2px;
    }
    
    .name {
        font-size: 3.5em;
    }
    
    #bio {
        padding-right: 30px;
        padding-left: 30px;
    }
    
    .parallax {
        background-image: url('../images/profile1000w.jpeg');
    }
    
    .second {
        height: calc(100vh - 45px - 280px);
    }

}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
    nav a {
        font-size: 1.1em;
    }
    nav {
        height: 40px;
        margin-left: 5px;
        margin-right: 5px;
        width: calc(100vw - 10px);
        border-bottom: solid whitesmoke 2px;
    }
    
    .name {
        font-size: 3.5em;
    }
    
    #bio {
        padding-right: 30px;
        padding-left: 30px;
    }
    
    .parallax {
        background-image: url('../images/profile1000w.jpeg');
    }
    
    .second {
        height: calc(100vh - 45px - 280px);
    }

}

/* iPhone 5 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
    nav a {
        font-size: 1.1em;
    }
    nav {
        height: 40px;
        margin-left: 5px;
        margin-right: 5px;
        width: calc(100vw - 10px);
        border-bottom: solid whitesmoke 2px;
    }
    
    .name {
        font-size: 3.5em;
    }
    
    #bio {
        padding-right: 30px;
        padding-left: 30px;
    }
    
    .parallax {
        background-image: url('../images/profile1000w.jpeg');
    }
    
    .second {
        height: calc(100vh - 45px - 280px);
    }

}

@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
    nav a {
        font-size: 1.1em;
    }
    nav {
        height: 40px;
        margin-left: 5px;
        margin-right: 5px;
        width: calc(100vw - 10px);
        border-bottom: solid whitesmoke 2px;
    }
    
    .name {
        font-size: 3.5em;
    }
    
    #bio {
        padding-right: 30px;
        padding-left: 30px;
    }
    
    .parallax {
        background-image: url('../images/profile1000w.jpeg');
    }
    
    .second {
        height: calc(100vh - 45px - 280px);
    }

}

/* iPhone 6, 7, 8 ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
    nav a {
        font-size: 1.1em;
    }
    nav {
        height: 40px;
        margin-left: 5px;
        margin-right: 5px;
        width: calc(100vw - 10px);
        border-bottom: solid whitesmoke 2px;
    }
    
    .name {
        font-size: 3.5em;
    }
    
    #bio {
        padding-right: 30px;
        padding-left: 30px;
    }
    
    .parallax {
        background-image: url('../images/profile1000w.jpeg');
    }
    
    .second {
        height: calc(100vh - 45px - 280px);
    }

}

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){

}

/* iPhone 6+, 7+, 8+ ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){

}

@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){

    
}

/* iPhone X ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){

}

@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){

}

/* iPhone XS Max, XR ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){

}

@media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
    
}

/* Samsung Galaxy S3 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){

}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){

}

/* Samsung Galaxy S4 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){

}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){

}

/* Samsung Galaxy S5 ----------- */
@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){

}

@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){

}