/*loading page
------------------------------------*/

@-moz-document url(about:blank) {
    html,body { background: black; }
}

/*General
------------------------------------*/
html {
    background-color: black;
    
}
/* Navigation
------------------------------------*/
nav {
  overflow: hidden;
  margin-left: 50px;
  margin-right: 50px;
  border-bottom: solid 3px whitesmoke;
  height: 75px;
  position: fixed;
  top: 0;
  width: calc(100vw - 100px);
}

nav a {
  float: left;
  color: whitesmoke;
  text-align: center;
  box-sizing: border-box;
  padding-top: 13px;
  padding-bottom: 13px;
  width: 20%;
  text-decoration: none;
  font-family: 'Lao MN', sans-serif;
  font-size: 2.3em;
}


nav>a:hover {
  color: RGB(199,130,177);
  font-weight: 525;
}

nav a.active {
  color: RGB(199,130,177);
}

.rainbow-text:hover {
    background-image: linear-gradient(to left, yellow, orange, red, orange, yellow, violet, orange, red, orange,yellow);   -webkit-background-clip: text;
  color: transparent;
    
}


