/*loading page
------------------------------------*/

@-moz-document url(about:blank) {
    html,body { background: whitesmoke; }
}

/*General
------------------------------------*/
html {
    background-color: whitesmoke;
    color:black;
    font-family: 'times new roman';
}

/* Navigation
------------------------------------*/
nav {
  overflow: hidden;
  margin-left: 50px;
  margin-right: 50px;
  border-bottom: solid 3px black;
  height: 60px;
  position: fixed;
  top: 0;
  width: calc(100vw - 100px);
  background-color: whitesmoke;
}

nav a {
  float: left;
  color: black;
  text-align: center;
  box-sizing: border-box;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 20%;
  text-decoration: none;
  font-family: 'times new roman';
  font-size: 2em;
}


nav>a:hover {
  color: grey;
  font-weight: 525;
}

nav a.active {
  color: grey;
}

/*
.rainbow-text:hover {
    background-image: linear-gradient(to left, yellow, orange, red, orange, yellow, violet, orange, red, orange,yellow);   -webkit-background-clip: text;
  color: transparent;
    
}
*/
/* info
------------------------------------*/
.info {
    color:grey;
    margin-top: 110px;
    margin-left: 200px;
    margin-right: 200px;
}

.fas fa-envelope {
    color: grey;
}

.mail_icon>a {
    color: grey;
    text-decoration: none;
    font-size:3em;
}

.mail_icon, ul {
    text-align: center;
}

i:hover {
    background-image: linear-gradient(to left, yellow, orange, violet, orange, yellow);   -webkit-background-clip: text;
  color: transparent;
    
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-style: italic;
  font-size: 1.2em;
}

li {
    padding-top: 4px;
    padding-bottom: 4px;
}

.email {
    text-align: center;
}
/* border
------------------------------------*/

.schools_container {
  padding: 1em;
  border: 0.25em solid grey;
  position: relative;
}
.schools_container::before, .schools_container::after {
  content: '';
  display: block;
  position: absolute;
  background: whitesmoke;
}
.schools_container::before {
  top: -0.3em;
  bottom: -0.3em;
  left: 1em;
  right: 1em;
}
.schools_container::after {
  left: -0.3em;
  right: -0.3em;
  top: 1em;
  bottom: 1em;
}
.schools_container .schools {
  position: relative;
  z-index: 1;
}