/*loading page
------------------------------------*/
 
@-moz-document url(about:blank) {
    html,body { background: whitesmoke; }
}


/*General
------------------------------------*/
html {
/*    background-color: black;*/
    font-family: 'times new roman', sans-serif;
} 

/*background image
------------------------------------*/
body {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

html {
    height:100%;
    margin:0;
    padding: 0;
}

/* Navigation
------------------------------------*/
nav {
  overflow: hidden;
  margin-left: 50px;
  margin-right: 50px;
  border-bottom: solid 3px whitesmoke;
  height: 60px;
  position: fixed;
  top: 0;
  width: calc(100vw - 100px);
}

nav a {
  float: left;
  color: whitesmoke;
  text-align: center;
  box-sizing: border-box;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 20%;
  text-decoration: none;
  font-family: 'times new roman';
  font-size: 2em;
}


nav>div>a:hover {
  color: black;
  font-weight: 525;
}


nav>div>a.rainbow-text {
    background-image: linear-gradient(to left, blue, red);   -webkit-background-clip: text;
  color: transparent;  
}

/* play buttons
------------------------------------*/
i {
    font-size: 3.8em;
/*
    background-image: linear-gradient(to left, blue, red);   
    -webkit-background-clip: text;
    color: transparent;  
*/
    cursor: pointer;
     
}

i:hover {
    background-image: linear-gradient(to left, red, blue);   -webkit-background-clip: text;
  color: transparent;

    
}

#one {
    position: absolute; 
    top: 110px; 
    left: 300px;
}

#two {
    position: absolute; 
    top: 150px; 
    right: 200px;
}

#three {
    position: absolute; 
    bottom: 50px; 
    right: 300px;
}

#four {
    position: absolute; 
    top: 320px; 
    right: 30px;
}

#five {
    position: absolute; 
    bottom: 100px; 
    left: 150px;
    
}


/*
#player-container #play-pause {
  cursor: pointer;
  text-indent: -999999px;
  height:40px;
  width: 40px;
  background: #eb01a5;
  background-image: url('http://basichow.com/asserts/images/play.png');
  background-repeat:no-repeat;
  background-position:center;
  background-size:20px;
}

.play {
  background-image: url('http://basichow.com/asserts/images/play.png');
}
.pause {
   background-image: url('http://basichow.com/asserts/images/pause.png')!important;
}
*/

#play-pause {
    position: absolute; 
    top: 110px; 
    left: 300px;
}
